version: "3"
services:
  cassandra:
    image: docker.io/cassandra:latest
    container_name: cassandra
    ports:
      - '7000:7000'
      - '9042:9042'
    volumes:
      - ./cassandra.yaml:/etc/cassandra/cassandra.yaml
      - 'cassandra_data:/var/lib/cassandra'
    environment:
      - CASSANDRA_SEEDS=cassandra
      - CASSANDRA_AUTHENTICATOR=PasswordAuthenticator
      - CASSANDRA_AUTHORIZER=CassandraAuthorizer
      
volumes:
  cassandra_data:
    driver: local
